<div class="flex gap-3 flex-col">
   <div class="bg-[#121212] rounded-[11px] max-w-[420px] p-6 ">
      <div class="felx flex-row text-white text-2xl font-medium items-center "> 
        <img class="inline  " style="height: 34px;" src="/assets/image/Logo.png">
        Spotify
      </div>
      <div class="text-white text-2xl flex gap-5 font-bold items-center py-4">
        <i class="bi bi-house-door-fill text-4xl"></i>
        Home
      </div>
      <div class="text-[#b3b3b3] text-2xl flex gap-5 font-bold items-center py-4 hover:text-white">
        <i class="bi bi-search text-4xl"></i>
        Search
      </div>
   </div>
   <div class="bg-[#121212] rounded-[11px] flex flex-col max-w-[420px] items-center p-6">
          <div class="text-[#b3b3b3] text-2xl flex gap-5 font-bold items-center justify-between w-[350px] ">
            <div class="flex items-center gap-3 hover:text-white py-1">
                <i class="bi bi-music-note-list text-4xl"></i>
            Your Library
            </div>
            <button class="w-11 h-11 hover:rounded-full hover:bg-white hover:bg-opacity-5" >
              <i class="bi bi-plus-lg font-medium    "></i>
            </button>
            
          </div>  
          <div class="py-5 max-h-48 overflow-y-scroll no-scrollbar "> 
            <div class="flex flex-col bg-[#242424] text-white w-[350px] rounded-lg">
                <span class="text-2xl px-4 py-3">Create your first playlist</span>
                <span class="text-lg px-4">It's easy, we'll help you</span>
                <div class=" px-4 py-3">
                    <button class="py-2 px-3 font-bold bg-white rounded-full hover:scale-105 text-black">Create playlist</button>
                </div>
            </div>
            <div class="flex flex-col bg-[#242424] text-white w-[350px] rounded-lg mt-3 ">
                <span class="text-2xl px-4 py-3">Let's find some podcasts to follow</span>
                <span class="text-lg px-4">We'll keep you updated on new episodes</span>
                <div class=" px-4 py-3">
                    <button class="py-2 px-3 font-bold bg-white hover:scale-105 rounded-full text-black">Browse podcasts</button>
                </div>
            </div>
          </div>
          <div class="flex flex-wrap text-gray-500 font-semibold py-7 text-lg mt-3">
            <div class="me-5 mb-4">Legal</div>
            <div class="me-6 mb-4">Safety & Privacy Center</div>
            <span class="me-6 mb-4">Privacy Policy</span>
            <span class="me-3 mb-4">Cookies</span>
            <span class="me-3 mb-4">About Ads</span>
            <div class="me-52 mb-4">Accessibility</div>
            <div class="me-52  mb-4">Cookies</div>
            <div class="mt-8 " >
                <button class="text-white text-2xl flex items-center gap-2 border-solid border-2  hover:scale-105 hover:border-white   border-gray-500 py-2 rounded-full px-4">
                    <span class="bi bi-globe  text-2xl   "></span>
                    English  
                </button>
            </div>  
        </div>

          
   </div>
</div>
