<header class="bg-[#121212] flex justify-between  rounded-t-md py-4 px-5 ">
     <div class="flex items-center gap-2 ">
        <button class="bg-black bg-opacity-40 rounded-full w-10 h-10 ">
            <span class="flex justify-center text-xl text-[#b3b3b3] " nz-icon nzType="left" nzTheme="outline"></span>
        </button>
        <button class="bg-black bg-opacity-40 rounded-full w-10 h-10 ">
            <span class="flex justify-center text-xl text-[#b3b3b3] " nz-icon nzType="right" nzTheme="outline"></span>
        </button>
     </div>
    <div class="flex gap-7 items-center">
        <button class="text-[#b3b3b3] text-xl  font-bold hover:text-white hover:scale-105 ">Sign up</button>
        <button class="px-10 py-4 bg-white  text-black rounded-full text-xl hover:font-bold  hover:scale-105 font-semibold">Log in</button>
    </div>
</header>
